body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    text-align: center;
}

section {
    padding: 20px;
}

h1, h2 {
    color: #007bff;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

.experience {
    margin-top: 20px;
}

.experience h3 {
    color: #007bff;
}

.project {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.project h3 {
    color: #007bff;
}

.contact-info {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.image {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 350px;
    border: 2px solid lightblue;
    border-radius: 10px;
}

.contact-info a:hover {
    color: var(--primary-dark);
    text-decoration: underline;
}

.contact-info p {
    margin-bottom: 10px;
}

.contact-info a {
    color: #007bff;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.mh1 {
    color: #ffffff;
    font-weight: bold;
    font-size: 25px;
}

.mh2 {
    font-weight: bold;
    font-size: 25px;
}